@charset "utf-8";
:root {
		font-size: 1.111111vw;
		--font: Montserrat, -apple-system, "Open Sans", system-ui, "sans-serif";
		--orange: #F06300;
		--black: #000;
		--white: #fff;
		--dark: #ea5900;
}
@media only screen and (min-width: 1440px) {
		:root {
				font-size: 16px;
		}
}
html, body {
		height: 100%;
		box-sizing: border-box;
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased;
}
body {
		margin: 0;
		padding: 0;
		background: var(--orange);
		font: 600 14px/17px var(--font);
		color: var(--white);
		-webkit-text-size-adjust: none;
		display: flex;
		flex-direction: column;
}
*, *:before, *:after {
		box-sizing: border-box;
}
form, fieldset {
		margin: 0;
		padding: 0;
		border: 0;
}
input, select, textarea, button {
		font: 600 14px/17px var(--font);
		color: var(--black);
		outline: none;
		text-align: left;
}
input[type="text"], input[type="password"], input[type="email"], input[type="color"], input[type="date"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
		-webkit-appearance: none;
		box-shadow: none;
		border: 1px solid transparent;
		background: var(--white);
		margin: 0;
		padding: 8px 8px 8px 24px;
		height: 36px;
		width: 100%;
		display: block;
		border-radius: 18px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		opacity: 1;
		color: rgba(0, 0, 0, 0.5);
}
input::-moz-placeholder, textarea::-moz-placeholder {
		opacity: 1;
		color: rgba(0, 0, 0, 0.5);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
		opacity: 1;
		color: rgba(0, 0, 0, 0.5);
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
		opacity: 0.5 !important;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
		opacity: 0.5 !important;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
		opacity: 0.5 !important;
}
input::-ms-clear {
		display: none;
}
button::-moz-focus-inner {
		border: 0;
}
textarea {
		resize: none;
}
video {
		-webkit-mask-image: -webkit-radial-gradient(white, black);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
}
header, nav, section, article, aside, footer, menu, time, figure, figcaption, main {
		display: block;
}
img, svg, picture {
		border: 0;
		vertical-align: top;
}
a {
		color: #009;
		text-decoration: underline;
		outline: none;
		cursor: pointer;
}
a:hover {
		text-decoration: none;
}
a[href^=tel] {
		color: inherit !important;
		cursor: inherit;
		text-decoration: none !important;
}
strong {
		font-weight: bold;
}
p, ol, ul {
		margin: 1em 0;
		padding: 0;
}
ol, ul, li {
		list-style: none;
}
li {
		position: relative;
		margin: 0.5em 0;
		padding: 0 0 0 2em;
}
ul > li:before {
		content: '•';
		width: 2em;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
}
ol {
		counter-reset: li;
}
ol > li:before {
		counter-increment: li;
		content: counters(li, ".") ". ";
		position: relative;
		display: inline-block;
		vertical-align: top;
		min-width: 2em;
		margin: 0 0 0 -2em;
		padding: 0 0.25em 0 0;
}
.label {
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 8px 0;
}
.input-info {
		text-align: center;
		color: var(--black);
		font-size: 12px;
		line-height: 15px;
		margin: 10px 0;
}
.input-info:before {
		content: '';
		display: inline-block;
		vertical-align: top;
		background: url("../img/info-black.svg") no-repeat 50% 50%;
		background-size: contain;
		width: 20px;
		height: 20px;
		margin: -2.5px 8px -2.5px 0;
}
.btn {
		flex: 0 0 auto;
		max-width: 100%;
		-webkit-appearance: none;
		cursor: pointer;
		user-select: none;
		text-decoration: none !important;
		color: var(--white);
		text-align: center;
		font: bold 20px/24px var(--font);
		padding: 13px 25px;
		border: 0;
		outline: none;
		display: inline-flex;
		vertical-align: top;
		align-items: center;
		justify-content: center;
		gap: 10px;
		background: var(--black);
		border-radius: 25px;
}
.btn img, .btn svg {
		flex: 0 0 auto;
		width: auto;
		height: auto;
		max-width: 24px;
		max-height: 24px;
}
.break-word {
		word-break: break-all;
}
.nowrap {
		white-space: nowrap;
}
.uppercase {
		text-transform: uppercase;
}
.mainwrap {
		flex: 0 0 auto;
		width: 100%;
		min-height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
}
.container {
		flex: 0 0 auto;
		width: 100%;
		margin: 0 auto;
		padding: 0 var(--padding);
		max-width: 1440px;
}
@media only screen and (max-width: 767px) {
		.container {
				--padding: 12px;
		}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
		.container {
				--padding: 20px;
		}
}
@media only screen and (min-width: 1024px) {
		.container {
				--padding: 32px;
		}
}
.mainwrap > .container {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
}
.mainwrap > .container > * {
		flex: 0 0 auto;
}
.login {
		margin: auto 0;
		flex: 0 0 auto;
		width: 100%;
		background: var(--dark);
		position: relative;
		padding: 32px 0;
}
.login:before {
		content: '';
		display: block;
		margin: 0 auto 32px auto;
		max-width: 200px;
		height: 2px;
		border-radius: 1px;
		background: var(--white);
}
.login .container {
		max-width: calc(300px + var(--padding) * 2);
}
.login .row {
		margin: 0 0 32px 0;
}
.login .submit {
		text-align: center;
		margin: 34px 0 0 0;
}
.login .submit .btn {
		min-width: 200px;
}
.login input {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		height: 40px;
		border-radius: 20px;
}
.logout {
		text-align: right;
		padding: 11px 0 0 0;
		height: 47px;
		font-weight: 500;
		font-size: 15px;
		line-height: 25px;
		white-space: nowrap;
}
.logout a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		user-select: none;
		display: inline-block;
		vertical-align: top;
}
@media (pointer:fine) {
		.logout a:hover {
				text-decoration: underline;
		}
}
.logout a:after {
		content: '';
		display: inline-block;
		vertical-align: top;
		background: url("../img/logout-white.svg") no-repeat 50% 50%;
		background-size: contain;
		width: 25px;
		height: 21px;
		margin: 2px 0 2px 20px;
}
.export {
		padding: 24px 0 0 0;
		text-align: right;
		height: 98px;
}
.table {
		flex: 1 0 auto !important;
		width: 100%;
}
.table table {
		border-collapse: collapse;
		width: 100%;
		border: 0;
		margin: 0;
		padding: 0;
}
.table th, .table td {
		text-align: left;
		vertical-align: middle;
		border: 0;
		padding: 0 12px;
		width: 30%;
}
.table th:first-child, .table td:first-child {
		padding-left: 24px;
}
.table th:last-child, .table td:last-child {
		padding-right: 24px;
}
.table th {
		position: sticky;
		top: 0;
		box-shadow: 0 1px 0 rgba(50, 41, 41, 0.5), 0 3px 0 var(--orange);
		background: var(--orange);
		z-index: 5;
		font-size: 16px;
		line-height: 20px;
		padding-top: 7px;
		padding-bottom: 6px;
}
.table td {
		border-top: 2px solid var(--orange);
		padding-top: 7px;
		padding-bottom: 6px;
}
.table tr:nth-child(even) td {
		background: #ec5e00;
}
.table tr:nth-child(odd) td {
		background: var(--dark);
}
.table .text {
		position: relative;
}
.table .text:before {
		content: '•';
		opacity: 0;
}
.table .text > * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
}
@media only screen and (max-width: 767px) {
		.table {
				margin: 0 -12px;
				width: calc(100% + 24px);
		}
		.table table, .table thead, .table tbody {
				display: block;
		}
		.table thead {
				position: sticky;
				top: 0;
				box-shadow: 0 1px 0 rgba(50, 41, 41, 0.5), 0 3px 0 var(--orange);
				background: var(--orange);
				z-index: 5;
		}
		.table tr {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 4px 0;
				padding: 12px 0 12px 12px;
		}
		.table td, .table th {
				border: 0;
				background: none !important;
				padding: 0 12px 0 0 !important;
				box-shadow: none !important;
				width: 50% !important;
		}
		.table td:last-child:not(:nth-child(even)), .table th:last-child:not(:nth-child(even)) {
				width: 100% !important;
		}
		.table tbody tr {
				border-top: 2px solid var(--orange);
		}
		.table tbody tr:nth-child(even) {
				background: #ec5e00;
		}
		.table tbody tr:nth-child(odd) {
				background: var(--dark);
		}
		.table input {
				margin-top: 8px;
		}
}
.sort-link {
		cursor: pointer;
		user-select: none;
		text-decoration: none;
		color: inherit;
		padding-left: 8px;
		margin-left: -8px;
}
@media (pointer:fine) {
		.sort-link:hover {
				text-decoration: underline;
		}
}
.sort-link:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		background: url("../img/angle-down-white.svg") no-repeat 50% 50%;
		margin: 0 -16px 0 8px;
		position: relative;
}
.sort-link:not(.up):not(.down):after {
		pointer-events: none;
		opacity: 0;
}
.sort-link.up:after {
		transform: scale(1, -1);
		top: -1px;
}
.pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 24px 0;
		gap: 16px;
}
@media only screen and (max-width: 459px) {
		.pagination {
				gap: 8px;
		}
}
.pagination .first, .pagination .prev, .pagination .next, .pagination .last {
		flex: 0 0 auto;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
}
.pagination .first {
		background-image: url("../img/angle-double-left-white.svg");
}
.pagination .prev {
		background-image: url("../img/angle-left-white.svg");
}
.pagination .next {
		background-image: url("../img/angle-right-white.svg");
}
.pagination .last {
		background-image: url("../img/angle-double-right-white.svg");
}
.pagination input {
		flex: 0 0 auto;
		width: 58px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
}
.pagination .btn {
		font-size: 16px;
		line-height: 20px;
		padding: 0 24px;
		height: 36px;
		border-radius: 18px;
}
.leaderboard-title {
		text-align: center;
		padding: 23px 0;
		font-size: 3.75rem;
		font-weight: 800;
		line-height: 1.21;
		text-transform: uppercase;
}
.leaderboard-title:after {
		content: '';
		display: block;
		margin: 16px auto 0 auto;
		height: 2px;
		border-radius: 1px;
		background: var(--black);
		min-width: 200px;
		max-width: 18.75rem;
}
.leaderboard-table {
		flex: 1 0 auto !important;
		width: 100%;
}
.leaderboard-table table {
		border-collapse: collapse;
		width: 100%;
		border: 0;
		margin: 0;
		padding: 0;
}
.leaderboard-table th, .leaderboard-table td {
		text-align: left;
		vertical-align: middle;
		border: 0;
		padding: 0 12px;
		width: 30%;
}
.leaderboard-table th:first-child, .leaderboard-table td:first-child {
		padding-left: 24px;
}
.leaderboard-table th:last-child, .leaderboard-table td:last-child {
		padding-right: 24px;
}
.leaderboard-table th {
		position: sticky;
		top: 0;
		box-shadow: 0 1px 0 rgba(50, 41, 41, 0.5), 0 3px 0 var(--orange);
		background: var(--orange);
		z-index: 5;
		font-weight: 800;
		font-size: 24px;
		line-height: 29px;
		text-transform: uppercase;
		padding-top: 7px;
		padding-bottom: 6px;
}
.leaderboard-table td {
		border-top: 2px solid var(--orange);
		padding-top: 2rem;
		padding-bottom: 2rem;
		font-size: 3.75rem;
		line-height: 1.21;
		white-space: nowrap;
}
.leaderboard-table .bold {
		font-weight: 800;
}
.leaderboard-table tr:nth-child(even) td {
		background: #ec5e00;
}
.leaderboard-table tr:nth-child(odd) td {
		background: var(--dark);
}
.leaderboard-table .text {
		position: relative;
}
.leaderboard-table .text:before {
		content: '•';
		opacity: 0;
}
.leaderboard-table .text > * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
}
.leaderboard-img {
		flex: 0 0 auto;
		background: url("../img/character.svg") no-repeat 0 100%;
		background-size: contain;
		height: 102px;
		margin: 27px 0;
}
@media only screen and (max-width: 767px) {
		.leaderboard-title {
				font-size: 24px;
		}
		.leaderboard-title:after {
				width: 200px;
		}
		.leaderboard-table {
				margin: 0 -12px;
				width: calc(100% + 24px);
		}
		.leaderboard-table th {
				font-size: 16px;
				line-height: 20px;
		}
		.leaderboard-table td {
				font-size: 16px;
				padding-top: 7px;
				padding-bottom: 6px;
		}
}